![Images](Images/ITAcademy.png)
# CIÈNCIA DE DADES: M01.T01
#### Created by: Dani Planas Montserrat

In [1]:

# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import re
import statistics
#Import library MySql
import mysql.connector


# Import Library
from ip2geotools.databases.noncommercial import DbIpCity


warnings.filterwarnings('ignore')

In [2]:
#************************************************************************************
#***************************     READ Files Functions      **************************
#************************************************************************************
#Function for Read *.csv file (Import Data)
def openFileTXT(path_name):
    
    # Read *.csv file (Import Data)
    df = pd.read_csv(path_name, sep='::', names=movie_column_l, encoding = 'ISO-8859-1', index_col=0, engine='python')

    return df

#Function for Read *.txt file (Import Data)
def openFileTable(path_name, file_name, separator, movie_column_l):

    # Read *.txt file (Import Data)
    df = pd.read_table(path_name + file_name, sep=separator, names=movie_column_l, header=None,  engine='python')
    
    return df

#Function for Read *.parquet file (Import Data)
def openFileParquet(path_name, file_name):
    
    #Import library pyarrow for read files with extenison "parquet" 
    import pyarrow 
    # Read *.txt file (Import Data)
    #df = pd.read_table(path_name + file_name, sep=separator, names=movie_column_l, header=None,  engine='python')
    df = pd.read_parquet(path_name + file_name, engine='pyarrow')
    
    return df

In [3]:
#************************************************************************************
#******************************      PLOT Functions     *****************************
#************************************************************************************
#Function plot, type Histogram (one categoric value)
def plotHistogram(df):
    
    # create a dataset
    height = df
    bars = df.index
    x_pos = np.arange(len(bars))

    # Create bars with different colors
    #plt.bar(x_pos, height, color=['black', 'red', 'green', 'blue', 'cyan'])
    plt.bar(x_pos, height, color=['green'])
    # Create names on the x-axis
    plt.xticks(x_pos,bars)

    # Show graphic
    fig = plt.gcf()
    plt.show()

    return fig

#Function plot, type Histogram (one Numeric value)
def plotHistogram2(df,paramNum):
    
    # create a dataset
    height = df[paramNum]
    bars = df.index
    x_pos = np.arange(len(bars))

    # Create bars with different colors
    #plt.bar(x_pos, height, color=['black', 'red', 'green', 'blue', 'cyan'])
    plt.bar(x_pos, height, color=['yellow'])
    # Create names on the x-axis
    plt.xticks(x_pos,bars)

    # Show graphic
    fig = plt.gcf()
    plt.show()

    return fig

def plotDensityPlot(df):
    # library & dataset
    import seaborn as sns
    
    # set a grey background (use sns.set_theme() if seaborn version 0.11.0 or above) 
    sns.set(style="darkgrid")

    # plotting both distibutions on the same figure
    fig = sns.kdeplot(df, shade=True, color="r")
    #fig = sns.kdeplot(df[paramNum2], shade=True, color="b")

    # Show graphic
    fig = plt.gcf()
    plt.show()

    return fig

#Function plot, with Seaborn Library and type ScatterPlot
def plotSnsScatterplot(df, paramNum1, paramNum2, title, ylabel, xlabel):

    g = sns.FacetGrid(df)
    g.map(sns.scatterplot, paramNum1, paramNum2, alpha=.7)
    g.add_legend()

    plt.title(title)
    plt.ylabel(ylabel)
    plt.xlabel(xlabel)
    
    # Show graphic
    fig = plt.gcf()
    plt.show()

    return fig

#Function plot, with Seaborn Library and type LinePlot
def plotSnsLineplot(df, paramNum1, paramNum2, title, ylabel, xlabel):

    g = sns.FacetGrid(df)
    g.map(sns.lineplot, paramNum1, paramNum2, alpha=.7)
    g.add_legend()
    
    plt.title(title)
    plt.ylabel(ylabel)
    plt.xlabel(xlabel)
    
    # Show graphic
    fig = plt.gcf()
    plt.show()

    return fig

#Function plot, with Seaborn Library and type HistPlot
def plotSnsHistplot(df, paramNum1, title, ylabel, xlabel, binsNum):
  
    sns.histplot(data=df, x=paramNum1, bins=binsNum, kde=True)
    #g.add_legend()
    
    plt.title(title)
    plt.ylabel(ylabel)
    plt.xlabel(xlabel)
    
    # Show graphic
    fig = plt.gcf()
    plt.show()

    return fig

#Function plot, type Stacked Area Chart (with 3 numeric values and 1 categoric value)   
def plotBarplotMultiple(df, paramNum1, paramNum2, paramNum3, Sel3):
        # libraries
        import numpy as np
        import matplotlib.pyplot as plt

        # width of the bars
        barWidth = 0.3
        
        # Choose the height of the blue bars
        bars1 = df

        if (Sel3 == 2):
            # Choose the height of the cyan bars
            bars2 = df[paramNum2] 

        if (Sel3 == 3):
            # Choose the height of the cyan bars
            bars3 = df[paramNum3] 
        
        # Choose the height of the error bars (bars1)
        yer1 = np.arange(len(bars1))

        # Choose the height of the error bars (bars2)
        yer2 = np.arange(len(bars1))
        
        #print(title) by groups of bars
        title = df.index 
        
        # The x position of bars
        r1 = np.arange(len(bars1))
        r2 = [x + barWidth for x in r1]
        r3 = [x + barWidth for x in r2]

        # Create blue bars
        plt.bar(r1, bars1, width = barWidth, color = 'yellow', edgecolor = 'black', yerr=yer1, capsize=5, label=paramNum1)
        
        if (Sel3 == 2):
            # Create cyan bars
            plt.bar(r2, bars2, width = barWidth, color = 'yellow', edgecolor = 'black', yerr=yer2, capsize=7, label=paramNum2)

        if (Sel3 == 3):
             # Create cyan bars
             plt.bar(r3, bars3, width = barWidth, color = 'green', edgecolor = 'black', yerr=yer2, capsize=7, label=paramNum3)
   
        # general layout
        plt.xticks([r + barWidth for r in range(len(bars1))], title)
        plt.ylabel('height')
        #plt.legend()

        # Show graphic
        fig = plt.gcf()
        plt.show()

        return fig

#Function plot, show a World Map with Geolocation points from a dataset
def plotWorldMapGeolocPoints(df, pLatitud, pLongitud):

        bars3 = df[pLatitud] 

        #Dibujar mapas
        from mpl_toolkits.basemap.test import Basemap
        import matplotlib.pyplot as plt


        #Figure Size
        plt.figure(figsize=(16,12))

        #Projection Type : robin, ortho ...
        my_map=Basemap(projection='robin',lon_0=0,lat_0=0)  #'robin' ,'ortho'

        #Draw cost lines and countries
        my_map.drawcoastlines()
        my_map.drawcountries()

        #Define colours
        my_map.drawcountries(color='#303338')
        my_map.drawmapboundary(fill_color='#c0eaff')
        my_map.drawcoastlines(color='#324c87')
        my_map.fillcontinents(color='#ebe7d5', lake_color='#c0eaff')


        #Place the different locations on the map
        for i in range(len(df[pLongitud])):     
            x,y = my_map(df[pLongitud][i], df[pLatitud][i])
            my_map.plot(x,y, color='g', marker = 'o' , markersize=10 , alpha = 0.9)

        return my_map

In [4]:
#************************************************************************************
#***************************     GEOLOCATION Functions     **************************
#************************************************************************************

/#Function that give us information on the location of an IP adress (Country, latitude, altitude,..)
def getInfoGeolocation(x, num):
    

    
    response = DbIpCity.get(x, api_key='free')
    
    #(1) Return Name of country
    if num==1:
        exit = response.country
    #(2) Return Name of country
    if num==2:
        exit = response.latitude
    #(3) Return Name of country
    if num==3:
        exit = response.longitude
   
    #ip = str(dfLogWeb['IP'][1])
    #response = DbIpCity.get(ip, api_key='free')
    #response.ip_address
    #print(response.city)
    #print(response.region)
    #print(response.country)

    #print(response.latitude)
    #print(response.longitude)
    #print(response.to_json())
    return exit

In [5]:
#************************************************************************************
#***************************        SAMPLE Functions       **************************
#************************************************************************************
#Function for doing a Simple Random Sampling from a dataset
def simpleSampling(df, num_sample):
    
    dfSample = df.sample(num_sample)          # Select X sample points from dataset
    return dfSample                           # Return result

# Function for doing a Systematic Sampling from dataset
def systematicSampling(df, start, step):
 
    indexes = np.arange(start, len(df), step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample

# Function for doing a Stratified Sampling from dataset (able for 3 subgroups)
def stratifiedSampling3Group(df, group, subgName1, subgName2, subgName3, samplePercentage):
 
    # STEP1: Divide de Group in subgroups (STRATA)
    group1_df = df.groupby(group)
    group1_df = group1_df.get_group(subgName1)
    nReg_group1 = len(group1_df)
#   print('Regsitros Grupo 1:', nReg_group1)
#   display(group1_df)

    group2_df = df.groupby(group)
    group2_df = group2_df.get_group(subgName2)
    nReg_group2 = len(group2_df)
#   print('Regsitros Grupo 2:', nReg_group2)
#   display(group2_df)

    group3_df = df.groupby(group)
    group3_df = group3_df.get_group(subgName3)
    nReg_group3 = len(group3_df)
#   print('Regsitros Grupo 3:', nReg_group3)
#   display(group3_df)
    
    # STEP 2: get a percentage from each group
    group11_df = group1_df.groupby(group, group_keys=False).apply(lambda x: x.sample(frac=samplePercentage))
    group12_df = group2_df.groupby(group, group_keys=False).apply(lambda x: x.sample(frac=samplePercentage))
    group13_df = group3_df.groupby(group, group_keys=False).apply(lambda x: x.sample(frac=samplePercentage))

    # STEP 3: 
    dfNew = pd.concat([group11_df, group12_df])
    dfNew = pd.concat([dfNew, group13_df])

    return dfNew

# Function for doing a Systematic Sampling from dataset
def reservoirSampling(df, k):
          
    #Import library
    import random
    
    # Create as stream generator
    #stream = dfRunners20['athlete']
    stream = df.index
    # Doing Reservoir Sampling from the stream
    #k=6
    reservoir = []
    for i, element in enumerate(stream):
        if i+1<= k:
            reservoir.append(element)
        else:
            probability = k/(i+1)
            if random.random() < probability:
                # Select item in stream and remove one of the k items already selected
                 reservoir[random.choice(range(0,k))] = element

    print(reservoir)
    print(len(reservoir))

    #Define new dataframe
    df_Sample = pd.DataFrame()

    #Create a New dataframe with values selected from reservoir sampling
    for i in range(len(reservoir)):
        num = reservoir[i]
        df_Sample = df_Sample.append(df.loc[num],ignore_index=True)
        
    return df_Sample

In [9]:
#************************************************************************************
#********************          HIPOTESIS TEST Functions          ********************
#************************************************************************************

In [2]:
##########################################################################
##                 DATA SCIENCE: M01.T01: Exercici 1                    ##
##########################################################################
# Exercici 1: A partir dels documents adjunts (estructura i dades), 
# crea una base de dades amb MySQL. Mostra les característiques principals 
# de l'esquema creat i explica les diferents taules i variables que hi ha.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="dplanas",
  password="Mysql*4455"
)

mycursor = mydb.cursor()


# Show a list of Databases that exist's
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('movies',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sgae_practica',)
('sys',)
('world',)

In [4]:
#Create a New databse if doesn't exist
mycursor.execute("CREATE DATABASE movies")

In [18]:
#Create a Table tb_genre
mycursor.execute("CREATE TABLE movies.tb_genre (genre_id INT NOT NULL, genre_name VARCHAR(40), CONSTRAINT pk_movie PRIMARY KEY (genre_id))")

In [9]:
#Create a Table tb_movie
mycursor.execute("CREATE TABLE movies.tb_movie (movie_id INTEGER NOT NULL, movie_title CHARACTER VARYING(100) NOT NULL, movie_date DATE, movie_format CHARACTER VARYING(50), movie_genre_id INTEGER, CONSTRAINT pk_movie PRIMARY KEY (movie_id), CONSTRAINT fk_movie_genre FOREIGN KEY (movie_genre_id) REFERENCES movies.tb_genre (genre_id))")

In [11]:
#Create a Table tb_role
mycursor.execute("CREATE TABLE movies.tb_role (role_id INTEGER NOT NULL, role_name CHARACTER VARYING(60) NOT NULL, CONSTRAINT pk_role PRIMARY KEY (role_id))")

In [12]:
mycursor.execute("CREATE TABLE movies.tb_person (person_id INTEGER NOT NULL, person_name CHARACTER VARYING(100) NOT NULL, person_country CHARACTER VARYING(40),  person_dob DATE NOT NULL, person_dod DATE, person_parent_id INTEGER, CONSTRAINT pk_person PRIMARY KEY (person_id), CONSTRAINT fk_person_parent FOREIGN KEY (person_parent_id) REFERENCES movies.tb_person (person_id))")

In [13]:
mycursor.execute("CREATE TABLE movies.tb_movie_person (movie_id INTEGER NOT NULL, person_id INTEGER NOT NULL, role_id INTEGER NOT NULL, movie_award_ind  CHAR(1) NOT NULL, CONSTRAINT pk_movper PRIMARY KEY (movie_id, person_id, role_id), CONSTRAINT fk_movper_movie FOREIGN KEY (movie_id) REFERENCES movies.tb_movie (movie_id), CONSTRAINT fk_movper_person FOREIGN KEY (person_id) REFERENCES movies.tb_person (person_id), CONSTRAINT fk_movper_role FOREIGN KEY (role_id) REFERENCES movies.tb_role (role_id))")

In [16]:
#Insert values in Table tb_genre 
mycursor = mydb.cursor()
sql = "INSERT INTO movies.tb_genre (genre_id, genre_name) VALUES (%s, %s)"
val = [   
    ( 2, 'Ciencia Ficción'),
    ( 3, 'Comedia'),
    ( 4, 'Drama'),
    ( 5, 'Fantasía'),
    ( 6, 'Melodrama'),
    ( 7, 'Musical'),
    ( 8, 'Romance'),
    ( 9, 'Suspense'),
    (10, 'Terror'),
    (11, 'Bélico')
]

mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount, "was inserted.")

10 was inserted.

In [17]:
#Insert values in Table tb_movie
mycursor = mydb.cursor()
sql = "INSERT INTO movies.tb_movie (movie_id, movie_title, movie_date, movie_format, movie_genre_id) VALUES (%s, %s, %s, %s, %s)"
val = [   
    ( 1, 'Apocalypse Now', '1979-05-10', 'Film', 11),
    ( 2, 'Star Wars:Episode IV - A New Hope', '1977-05-25', 'Film', 2),
    ( 3, 'Indiana Jones and the Temple of Doom', '1984-05-08', 'Film', 1),
    ( 4, 'The Terminal', '2004-06-18', 'Digital', 3),
    ( 5, 'Jaws', '1975-01-01', 'Film', 10),
    ( 6, 'ET The Extraterrestrial', '1982-07-25', 'Film', 5),
    ( 7, 'Psycho', '1960-05-06', 'Film', 9),
    ( 8, 'Ocho Apellidos Vascos', '2014-03-14', 'Digital', 3),
    ( 9, 'Ocho Apellidos Catalanes', '2016-06-09', 'Digital', 8),
    (10, 'El otro lado de la cama', '2002-09-04', 'Digital', 8),
    (11, 'La Gran Familia Española', '2012-10-15', 'Digital', 3),
    (12, 'El dia de la bestia', '1994-12-25', 'Film', 1),
    (13, 'Braveheart', '1995-08-08', 'Film', 4),
    (14, 'The Shawshank Redemption', '1992-01-07', 'Film', 4),
    (15, 'Las brujas de Zugarramurdi', '2009-10-07', 'Digital', 9),
    (16, 'Blade Runner', '1982-12-25', 'Digital', 2)
]

mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount, "was inserted.")

16 was inserted.

In [18]:
#Insert values in Table tb_role
mycursor = mydb.cursor()
sql = "INSERT INTO movies.tb_role (role_id, role_name) VALUES (%s, %s)"
val = [   
    ( 1, 'Actor'),
    ( 2, 'Director'),
    ( 3, 'Productor'),
    ( 4, 'Guionista'),
    ( 5, 'Música')
]

mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount, "was inserted.")

5 was inserted.

In [28]:
#Insert values in Table tb_person
mycursor = mydb.cursor()
sql = "INSERT INTO movies.tb_person (person_id, person_name, person_country, person_dob, person_dod, person_parent_id) VALUES (%s, %s, %s, %s, %s, %s)"
val = [   

( 1, 'Francis Ford Coppola', 'United States', '1939-04-07', None, None),
( 2, 'Carmine Coppola', 'United States', '1945-07-08', None, None),
( 3, 'Marlon Brando', 'United States', '1924-04-03', '2004-07-01', None),
( 4, 'Robert Duvall', 'United States', '1931-01-05', None, None),
( 5, 'Martin Sheen', 'United States', '1940-08-03', None, None),
( 6, 'Harrison Ford', 'United States', '1942-07-13', None, None),
( 7, 'George Lucas', 'United States', '1944-05-14', None, None),
( 8, 'Gary Kurtz', 'United States', '1940-07-27', None, None),
( 9, 'Steven Spielberg', 'United States', '1946-12-18', None, None),
(10, 'John Williams', 'United States', '1928-08-08', None, None),
(11, 'Tom Hanks', 'United States', '1956-07-09', None, None),
(12, 'Catherine Zeta-Jones', 'Wales', '1969-09-25', None, None),
(13, 'Alfred Joseph Hitchcock', 'United Kingdom', '1899-08-13', '1980-04-29', None),
(14, 'Anthony Perkins', 'United States', '1934-04-04', '1992-09-08', None),
(15, 'Vera Miles', 'United States', '1929-08-23', None, None),
(16, 'Emilio Martinez Lazaro', 'Spain', '1956-09-09', None, None),
(17, 'Dani Rovira', 'Spain', '1984-07-01', None, None),
(18, 'Clara Lago', 'Spain', '1986-04-17', None, None),
(19, 'Carmen Machi', 'Spain', '1964-08-09', None, None),
(20, 'Karra Elejalde', 'Spain', '1960-03-06', None, None),
(21, 'Daniel Sanchez Arevalo', 'Spain', '1970-06-08', None, None),
(22, 'Quim Gutierrez', 'Spain', '1981-03-27', None, None),
(23, 'Robert Alamo', 'Spain', '1970-05-06', None, None),
(24, 'Hector Colome', 'Spain', '1944-10-25', '2015-02-28', None),
(25, 'Veronica Echegui', 'Spain', '1983-03-14', None, None),
(26, 'Patrick Criado', 'Spain', '1995-09-23', None, None),
(27, 'Sean Connery', 'Scotland', '1930-07-08', None, None),
(28, 'Mel Gibson', 'Australia', '1950-08-09', None, None),
(29, 'Morgan Freeman', 'United States', '1935-10-01', None, None),
(30, 'Tim Robbins', 'United States', '1949-06-07', None, None),
(41, 'Charlie Sheen', 'United States', '1965-09-03', None, 5),
(42, 'Emilio Estevez', 'United States', '1962-05-12', None, 5),
(43, 'Ramón Estevez', 'United States', '1963-08-07', None, 5),
(44, 'Reneé Estevez', 'United States', '1967-04-02', None, 5),
(45, 'Paula Speert Sheen', 'United States', '1986-01-06', None,41),
(46, 'Bob Sheen', 'United States', '2009-05-01', None,41),
(47, 'Max Sheen', 'United States', '2009-05-01', None,41),
(48, 'Sam Sheen', 'United States', '2004-03-09', None,41),
(49, 'Lola Sheen', 'United States', '2005-06-01', None,41),
(50, 'Paula Jones-Sheen', 'United States', '2003-07-06', None,45),
(51, 'Paloma Rae Estevez', 'United States', '1986-02-15', None,42),
(52, 'Taylor Levi Estevez', 'United States', '1984-06-22', None,42),
]

mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount, "was inserted.")

42 was inserted.

In [29]:
#Insert values in Table tb_movie_person
mycursor = mydb.cursor()
sql = "INSERT INTO movies.tb_movie_person (movie_id, person_id, role_id, movie_award_ind) VALUES (%s, %s, %s, %s)"
val = [   
    
( 1, 1, 2, 'Y'),
( 1, 1, 3, 'N'),
( 1, 1, 5, 'N'),
( 1, 2, 5, 'N'),
( 1, 3, 1, 'N'),
( 1, 4, 1, 'N'),
( 1, 5, 1, 'Y'),
( 1,41, 1, 'N'),
( 1, 6, 1, 'N'),
( 2, 6, 1, 'N'),
( 2, 7, 2, 'Y'),
( 2, 8, 3, 'N'),
( 3, 6, 1, 'N'),
( 3, 7, 4, 'N'),
( 3, 9, 2, 'N'),
( 3,10, 5, 'N'),
( 4, 9, 2, 'N'),
( 4, 9, 3, 'N'),
( 4,11, 1, 'N'),
( 4,12, 1, 'N'),
( 5, 9, 2, 'N'),
( 6, 9, 2, 'N'),
( 7,13, 1, 'N'),
( 7,13, 2, 'N'),
( 7,13, 3, 'N'),
( 7,14, 2, 'N'),
( 7,15, 2, 'N'),
( 3, 7, 1, 'N'),
( 8,16, 2, 'N'),
( 9,16, 2, 'N'),
( 8,17, 1, 'N'),
( 8,18, 1, 'N'),
( 8,19, 1, 'N'),
( 8,20, 1, 'N'),
( 9,17, 1, 'N'),
( 9,18, 1, 'N'),
( 9,19, 1, 'N'),
( 9,20, 1, 'N'),
(10,16, 2, 'N'),
(11,21, 2, 'N'),
(11,21, 4, 'N'),
(11,22, 1, 'N'),
(11,23, 1, 'N'),
(11,24, 1, 'N'),
(11,25, 1, 'N'),
(11,26, 1, 'N'),
(13,28, 1, 'Y'),
(13,28, 2, 'N'),
(14,29, 1, 'N'),
(14,30, 1, 'N')
]

mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount, "was inserted.")

50 was inserted.

<span style=color:green><b>BASE DE DADES RELACIONAL AMB MySQL</u></b></span> 

Hem creat una Base de Dades anomenada "movies" y que consta d eles següents taules:

1) tb_movie_person
2) tb_person
3) tb_role
4) tb_movie
5) tb_genre

La taula "tb_genre" té com a clau principal "genre_id", que a la mateixa vegada s'utilita per relacionar amb la taula "tb_movie".

La taula "tb_person" té com a clau principal "person_id", que a la mateixa vegada s'utilita per relacionar amb la taula "tb_movie_person".

La taula "tb_role" té com a clau principal "role_id", que a la mateixa vegada s'utilita per relacionar amb la taula "tb_movie_person".

La taula "tb_movie" té com a clau principal "movie_id", que a la mateixa vegada s'utilita per relacionar amb la taula "tb_movie_person".

In [5]:
##########################################################################
##                 DATA SCIENCE: M01.T01: Exercici 2                    ##
##########################################################################
# Exercici 2: Realitza la següent consulta sobre la base de dades acabada de crear: 
# Has d'obtenir el nom, el país i la data de naixement d'aquelles persones per 
# les quals no consti una data de mort i ordenar les dades de la persona més 
# vella a la persona més jove.

mycursor = mydb.cursor()
mycursor.execute("SELECT person_name, person_country,person_dob FROM movies.tb_person WHERE person_dod is NULL ORDER BY person_dob") 

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John Williams', 'United States', datetime.date(1928, 8, 8))
('Vera Miles', 'United States', datetime.date(1929, 8, 23))
('Sean Connery', 'Scotland', datetime.date(1930, 7, 8))
('Robert Duvall', 'United States', datetime.date(1931, 1, 5))
('Morgan Freeman', 'United States', datetime.date(1935, 10, 1))
('Francis Ford Coppola', 'United States', datetime.date(1939, 4, 7))
('Gary Kurtz', 'United States', datetime.date(1940, 7, 27))
('Martin Sheen', 'United States', datetime.date(1940, 8, 3))
('Harrison Ford', 'United States', datetime.date(1942, 7, 13))
('George Lucas', 'United States', datetime.date(1944, 5, 14))
('Carmine Coppola', 'United States', datetime.date(1945, 7, 8))
('Steven Spielberg', 'United States', datetime.date(1946, 12, 18))
('Tim Robbins', 'United States', datetime.date(1949, 6, 7))
('Mel Gibson', 'Australia', datetime.date(1950, 8, 9))
('Tom Hanks', 'United States', datetime.date(1956, 7, 9))
('Emilio Martinez Lazaro', 'Spain', datetime.date(1956, 9, 9))
('Karra Elejalde', 'Spain', datetime.date(1960, 3, 6))
('Emilio Estevez', 'United States', datetime.date(1962, 5, 12))
('Ramón Estevez', 'United States', datetime.date(1963, 8, 7))
('Carmen Machi', 'Spain', datetime.date(1964, 8, 9))
('Charlie Sheen', 'United States', datetime.date(1965, 9, 3))
('Reneé Estevez', 'United States', datetime.date(1967, 4, 2))
('Catherine Zeta-Jones', 'Wales', datetime.date(1969, 9, 25))
('Robert Alamo', 'Spain', datetime.date(1970, 5, 6))
('Daniel Sanchez Arevalo', 'Spain', datetime.date(1970, 6, 8))
('Quim Gutierrez', 'Spain', datetime.date(1981, 3, 27))
('Veronica Echegui', 'Spain', datetime.date(1983, 3, 14))
('Taylor Levi Estevez', 'United States', datetime.date(1984, 6, 22))
('Dani Rovira', 'Spain', datetime.date(1984, 7, 1))
('Paula Speert Sheen', 'United States', datetime.date(1986, 1, 6))
('Paloma Rae Estevez', 'United States', datetime.date(1986, 2, 15))
('Clara Lago', 'Spain', datetime.date(1986, 4, 17))
('Patrick Criado', 'Spain', datetime.date(1995, 9, 23))
('Paula Jones-Sheen', 'United States', datetime.date(2003, 7, 6))
('Sam Sheen', 'United States', datetime.date(2004, 3, 9))
('Lola Sheen', 'United States', datetime.date(2005, 6, 1))
('Bob Sheen', 'United States', datetime.date(2009, 5, 1))
('Max Sheen', 'United States', datetime.date(2009, 5, 1))

In [6]:
##########################################################################
##                 DATA SCIENCE: M01.T01: Exercici 3                    ##
##########################################################################
# Exercici 3: Realitza la següent consulta sobre la base de dades acabada de crear: 
# Has d'obtenir el nom del gènere i el nombre total de pel·lícules d'aquest
# gènere i ordenar-ho per ordre descendent de nombre total de pel·lícules. 


mycursor = mydb.cursor()
mycursor.execute("SELECT movie_id, movie_title, movie_date, movie_genre_id FROM movies.tb_movie WHERE movie_genre_id='3' ORDER BY movie_date") 

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(4, 'The Terminal', datetime.date(2004, 6, 18), 3)
(8, 'Ocho Apellidos Vascos', datetime.date(2014, 3, 14), 3)
(9, 'Ocho Apellidos Catalanes', datetime.date(2016, 6, 9), 3)

In [54]:
##########################################################################
##                 DATA SCIENCE: M01.T01: Exercici 4                    ##
##########################################################################
# Exercici 4: Realitza la següent consulta sobre la base de dades acabada de crear: 

# Has d'obtenir, per a cada persona, el seu nom i el nombre màxim de rols 
# diferents que ha tingut en una mateixa pel·lícula. (1)

mycursor = mydb.cursor()

sql =  "SELECT \
          movie_id, person_id, COUNT(*) AS num\
          FROM movies.tb_movie_person AS a\
          GROUP BY a.person_id, a.movie_id"


mycursor.execute(sql) 

myresult = mycursor.fetchall()

print("-----------------------------------")
print("          Exercici 4.1:            ")
print("-----------------------------------")
for x in myresult:
  print(x)

# Posteriorment, mostra únicament aquelles persones que hagin assumit més 
# d'un rol en una mateixa pel·lícula. (2)

sql =   "SELECT \
          movie_id, person_id, COUNT(*) AS num \
          FROM movies.tb_movie_person AS a\
          WHERE ('num'>1)\
          GROUP BY a.movie_id, a.person_id"

mycursor.execute(sql) 

myresult = mycursor.fetchall()

print("-----------------------------------")
print("          Exercici 4.2:            ")
print("-----------------------------------")

for x in myresult:
  print(x)

-----------------------------------
          Exercici 4.1:
-----------------------------------
(1, 1, 3)
(1, 2, 1)
(1, 3, 1)
(1, 4, 1)
(1, 5, 1)
(1, 6, 1)
(2, 6, 1)
(3, 6, 1)
(2, 7, 1)
(3, 7, 2)
(2, 8, 1)
(3, 9, 1)
(4, 9, 2)
(5, 9, 1)
(6, 9, 1)
(3, 10, 1)
(4, 11, 1)
(4, 12, 1)
(7, 13, 3)
(7, 14, 1)
(7, 15, 1)
(8, 16, 1)
(9, 16, 1)
(10, 16, 1)
(8, 17, 1)
(9, 17, 1)
(8, 18, 1)
(9, 18, 1)
(8, 19, 1)
(9, 19, 1)
(8, 20, 1)
(9, 20, 1)
(11, 21, 2)
(11, 22, 1)
(11, 23, 1)
(11, 24, 1)
(11, 25, 1)
(11, 26, 1)
(13, 28, 2)
(14, 29, 1)
(14, 30, 1)
(1, 41, 1)
-----------------------------------
          Exercici 4.2:
-----------------------------------

In [54]:
##########################################################################
##                 DATA SCIENCE: M01.T01: Exercici 5                    ##
##########################################################################
# Exercici 5: Realitza la següent operació sobre la base de dades acabada de crear: 

# Has de crear un nou gènere anomenat "Documental" el qual tingui com a 
# identificador el nombre 69.

mycursor = mydb.cursor()
sql = "INSERT INTO movies.tb_genre (genre_id, genre_name)  VALUES (%s, %s)"
val = (69, 'Documental')
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [68]:
##########################################################################
##                 DATA SCIENCE: M01.T01: Exercici 6                    ##
##########################################################################
# Exercici 6: Fes la següent operació sobre la base de dades acabada de crear:  
# Elimina la pel·lícula "La Gran Familia Española" de la base de dades.


mycursor = mydb.cursor()
sql = "SET FOREIGN_KEY_CHECKS=0" #-- to disable them
mycursor.execute(sql)
sql = "DELETE FROM movies.tb_movie WHERE movie_title = 'La Gran Familia Española'"

mycursor.execute(sql)
sql = "SET FOREIGN_KEY_CHECKS=1" #-- to re-enable them
mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [64]:
##########################################################################
##                 DATA SCIENCE: M01.T01: Exercici 7                    ##
##########################################################################
# Exercici 7: Realitza la següent operació sobre la base de dades acabada de crear: 

#Canvia el gènere de la pel·lícula "Ocho apellidos catalanes" perquè consti 
# com a comèdia i no com a romàntica.

mycursor = mydb.cursor()

sql = "UPDATE movies.tb_movie SET movie_genre_id = '3' WHERE movie_title = 'Ocho apellidos catalanes'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected